* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    --size: 16;
    --resolution: 600px;
    display: grid;
    border: 5px solid gray;
    border-radius: 2px;
    width: var(--resolution);
    height: var(--resolution);
    max-height: 80%;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 0px;
    padding: 3px;
    background-color: white;
}

.pixel {
    opacity: 1;

    /* remove item drag */
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.border {
    border: 0.5px solid gray;
}

.active {
    background-color: rgb(5, 9, 81);
    color: white;
    border-color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 87);
    padding: 50px;
    color: white;
    border-radius: 5px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input[type="color"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
